@import 'https://fonts.googleapis.com/css?family=Playfair+Display:400,700i,900i';
* {
  box-sizing: border-box;
}

body {
  color: rgb(172, 170, 190);
  text-rendering: optimizeLegibility;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(17, 207, 198);
  font-size: 14px;
  overflow: hidden;
}

.card {
  position: relative;
  z-index: 999; /* Set a higher z-index for the row background */
  background-color: transparent; /* Make the background of the row transparent */
}

.card-title{
  margin-top: 15px;
  font-size: 35pt;
}

.cardDescription{
  font-size: 20pt;
}

.wrap {
  perspective-origin: 50% 50%;
  position: relative;
  z-index: 1;
}

.page {
  position: relative;
  z-index: 999; /* Set a higher z-index for page content */
  margin: 3%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  border-radius: 3px;
  text-align: center;
  font-size: 1.4vw;
}
.page h2 {
  font-weight: bold;
  font-size: 6.5vw;
  font-weight: 900;
  font-style: italic;
  color: #dad8ec;
}

.svg {
  position: absolute;
  bottom: -100vh;
  transform-style: preserve-3d;
  z-index: 0; /* Set a lower z-index for the numbers to keep them behind */
}

.svg:nth-child(1) {
  left: 29%;
  animation: raise1 21s linear infinite;
  animation-delay: 0s;
  transform: scale(3) rotate(216deg);
}
@keyframes raise1 {
  to {
    bottom: 150vh;
    transform: scale(3) rotate(202deg);
  }
}

.svg:nth-child(2) {
  left: 25%;
  animation: raise2 7s linear infinite;
  animation-delay: -1s;
  transform: scale(3) rotate(191deg);
}
@keyframes raise2 {
  to {
    bottom: 150vh;
    transform: scale(3) rotate(77deg);
  }
}

.svg:nth-child(3) {
  left: -4%;
  animation: raise3 15s linear infinite;
  animation-delay: -4s;
  transform: scale(2) rotate(274deg);
}
@keyframes raise3 {
  to {
    bottom: 150vh;
    transform: scale(2) rotate(179deg);
  }
}

.svg:nth-child(4) {
  left: 11%;
  animation: raise4 21s linear infinite;
  animation-delay: 0s;
  transform: scale(3) rotate(250deg);
}
@keyframes raise4 {
  to {
    bottom: 150vh;
    transform: scale(3) rotate(38deg);
  }
}

.svg:nth-child(5) {
  left: 58%;
  animation: raise5 17s linear infinite;
  animation-delay: -1s;
  transform: scale(3) rotate(48deg);
}
@keyframes raise5 {
  to {
    bottom: 150vh;
    transform: scale(3) rotate(234deg);
  }
}

.svg:nth-child(6) {
  left: 12%;
  animation: raise6 21s linear infinite;
  animation-delay: -1s;
  transform: scale(2) rotate(116deg);
}
@keyframes raise6 {
  to {
    bottom: 150vh;
    transform: scale(2) rotate(157deg);
  }
}

.svg:nth-child(7) {
  left: 26%;
  animation: raise7 14s linear infinite;
  animation-delay: -4s;
  transform: scale(3) rotate(183deg);
}
@keyframes raise7 {
  to {
    bottom: 150vh;
    transform: scale(3) rotate(258deg);
  }
}

.svg:nth-child(8) {
  left: 21%;
  animation: raise8 20s linear infinite;
  animation-delay: -1s;
  transform: scale(2) rotate(264deg);
}
@keyframes raise8 {
  to {
    bottom: 150vh;
    transform: scale(2) rotate(77deg);
  }
}

.svg:nth-child(9) {
  left: 56%;
  animation: raise9 8s linear infinite;
  animation-delay: -2s;
  transform: scale(2) rotate(89deg);
}
@keyframes raise9 {
  to {
    bottom: 150vh;
    transform: scale(2) rotate(96deg);
  }
}

.svg:nth-child(10) {
  left: 85%;
  animation: raise10 21s linear infinite;
  animation-delay: -3s;
  transform: scale(2) rotate(201deg);
}
@keyframes raise10 {
  to {
    bottom: 150vh;
    transform: scale(2) rotate(210deg);
  }
}
